@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes popupIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  @keyframes popupOut {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(0.8);
      opacity: 0;
    }
  }
  
  input[type="radio"] {
    appearance: none; /* Remove default browser styling */
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid black; /* Default border color */
    border-radius: 50%;
    display: inline-block;
    position: relative;
    outline: none;
  }
  
  /* Green dot inside the checked radio button */
  input[type="radio"]:checked::before {
    content: '';
    width: 0.9rem;
    height: 0.9rem;
    background-color: black; /* Green dot color */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Remove default styling and create custom checkbox */
input[type="checkbox"] {
  accent-color: black;
  width: 1.3rem; /* Increased size of checkbox */
  height: 1.3rem; /* Increased size of checkbox */
}
